<%
const heading1Sure = 'undefined' === typeof heading1 ? (page['title'] || title) : heading1;
%>
<%- include('/_/head'); %>

<body>
    <%- include('/_/header'); %>
    <section class="container">
        <%- include('/_/nav'); %>
    </section>

    <section class="container">
        <h1 class="text-center text-uppercase mb-4"><%= heading1Sure %></h1>
    </section>

    <div class="gallery-content-wrapper <%= gallery['class'] %>">
        <% if ('object' === typeof gallery && gallery['items'] || page['image']) { %>
        <section class="gallery pb-5">
        <%- include('/_/post/gallery') %>
        </section>
        <% } %>

        <% if ('undefined' !== typeof page['content']) { %>
        <section class="container d-flex flex-wrap flex-column align-items-center gap-3">
            <%- renderEJSContent(page.content, 'article') %>
        </section>
        <% } %>
    </div>

    <% if ('undefined' !== typeof stories) { %>
    <section class="container stories pb-5 collapse" id="collapseStories">
        <%- include('/_/stories') %>
    </section>
    <% } %>

    <%- include('/_/footer'); %>
</body>

<%- include('/_/foot'); %>