<%- include('/_/head'); %>

<body>
    <%- include('/_/header'); %>
    <section class="container">
        <%- include('/_/nav'); %>
    </section>

    <section class="container">
        <h1 class="text-center text-uppercase">
            <%= heading1 || title %>
        </h1>
    </section>

    <section class="container">
        <%- content %>
    </section>

    <%- include('/_/footer'); %>
</body>

<%- include('/_/foot'); %>