<% if (global['partners']?.['footer'] && global.partners.footer.length) { %>
<footer class="partners container-fluid bg-secondary bg-opacity-10 bg-gradient">
    <% global.partners.footer.forEach(p => { %>
        <a href="<%= p.url || '#' %>" target="_blank">
            <% if (p['img']) { %>
            <img src="<%= p.img.replace('{lang}', $lang) %>" alt="<%= p.title %>">
            <% } %>
            <span><%= p.title %></span>
        </a>
    <% }) %>
</footer>
<% } %>

<footer class="py-5 mb-5">
    <div class="container d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center">
            <!-- @todo make every word on a new line with the style -->
            <div class="fs-1 lh-1 first-bold">
                <% global.footer.map.text.split(' ').forEach(function(word) { %>
                    <div><%= word %></div>
                <% }); %>
            </div>
            <img class="w-50" src="<%= global.footer.map.img.url %>" alt="<%= global.footer.map.img.alt %>" style="mix-blend-mode: difference">
        </div>
        <div class="d-flex flex-wrap justify-content-center justify-content-md-between gap-3">
            <% Object.entries(global.footer.contacts).forEach(([k, c]) => { %>
                <%- renderEJSContent({ $href: c.url, $title: c.text, a: c.text }) %>
            <% }) %>
        </div>
    </div>
    <form class="settings d-print-none">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="settingsDarkMode">
            <label class="form-check-label" for="settingsDarkMode"><%= l('Dark mode', $l) %></label>
        </div>
    </form>
</footer>
