<html lang="<%= $lang %>" data-gtag-id="<%= global['analytics']?.['gtag']?.['id'] ?? '' %>">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes"/>
        <link rel="icon" type="image/png" href="/img/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <% for (const file of $fontUris) { %>
            <link href="<%= file.replaceAll('$theme', $theme) %>" rel="stylesheet">
        <% } %>
        <% for (const file of $cssFiles) { %>
            <link href="/css/<%= file.replaceAll('$theme', $theme) %>?<%= 'undefined' !== typeof $rendering && $rendering ? r['versionSlug'] : '' %>" rel="stylesheet">
        <% } %>

        <base href="/<%= $lang ? `${$lang}/` : '' %>">
        <link href="<%= $uri %>" data-nw-nav="active">
        <title><%= title %></title>

        <%- include('/_/tracking/gtag', { target: 'head' }) %>

        <% 'undefined' !== typeof $alternates && Object.entries($alternates).forEach(([l, u]) => { %>
        <link rel="alternate" hreflang="<%= l %>" href="<%= u %>" />
        <% }) %>

        <!-- Favicon for various platforms -->
        <link rel="icon" href="/img/logo.png" sizes="64x64" type="image/png">
        <link rel="icon" href="/img/logo.png" sizes="192x192" type="image/png">

        <!-- Favicon for iOS devices -->
        <link rel="apple-touch-icon" href="/img/logo.png" sizes="180x180">

        <% if ('undefined' !== typeof title) { %>
            <meta property="og:title" content="<%= title %>">
        <% } %>
        <% if ('undefined' !== typeof description) { %>
            <meta property="og:description" content="<%= description %>">
        <% } %>
        <% if ('undefined' !== typeof ogImage) { %>
            <meta property="og:image" content="<%= $host %><%= ogImage %>">
        <% } else { %>
            <meta property="og:image" content="<%= $host %>/img/logo-<%= $lang %>.png">
        <% } %>
        
        <meta property="og:url" content="<%= $host %><%= $uri %>">
        <meta name="twitter:card" content="summary_large_image">

    </head>